.center {
    text-align: center;
}

/* Paralax Group Styling
  --------------------------------------------- */

/*JUMBOTRON*/

#group1 {
    z-index: -500;
    /* behind group 2 */
    height: 70vh;
    top: calc(70vh/-2);
}

#group1 * {
    color: white;
    border: 1px solid red;
}

#jumbotron-content {
    margin-top: 10vh;
}

#jumbotron-logo {
    width: 30vh;
}

#group1 .parallax__layer--deep {
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

/*/JUMBOTRON*/

/* First Content */
#group2 {
    z-index: 0;
    height: 50vh;
    /* In front of group1 */
}

#group2 * {
    border: 1px solid blue;
}

#group2 .parallax__layer--base {
    background: whitesmoke;
}

/* /First Content */

/* First Space */

#group3 {
    z-index: -100;
    /*behind group1 */
    height: 25vh;
    /*Quarter Viewport height*/
}

#group3 * {
    border: 1px solid orange;
}

#group3 .parallax__layer--deep {
    background: radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #840b2a;
}

/* /First Space */

/* Second Content */

#group4 {
    z-index: 0;
    /*in front of group3*/
}

#group4 * {
    border: 1px solid brown;
}

#group4 .parallax__layer--base {
    background: brown;
}

/* /Second Content */

#group5 {
    z-index: 0;
    /* slide over group 4 and 6 */
}

#group5 * {
    border: 1px solid purple;
}

#group5 .parallax__layer--base {
    background: rgb(214,229,100);
}

#group6 {
    z-index: 0;
    /* slide under group 5 and 7 */
}

#group6 * {
    border: 1px solid lightcoral;
}

#group6 .parallax__layer--back {
    background: rgb(245,235,100);
}

#group7 {
    z-index: 0;
    /* slide over group 7 */
}

#group7 * {
    border: 1px solid turquoise;
}

#group7 .parallax__layer--base {
    background: rgb(255,241,100);
}